<% provide(:title, 'Orders') %>
<h1>Orders</h1>
<% if @orders.any? %>
  <% @orders.each do |order| %>
  <table class="row">
    <tr>
      <th class="col-md-4">User Name: </th>
      <th class="col-md-2">Status: </th>
      <th class="col-md-2">Approved by Admin ID: </th>
      <th class="col-md-2">Total</th>
      <th class="col-md-2">Edit</th>
      <th class="col-md-2">Delete</th>
    </tr>
    <tr>
      <th class="col-md-4"><%= order.user.name %></th>
      <th class="col-md-2"><%= order.status %></th>
      <th class="col-md-2"><%= order.approved_by_admin_id %></th>
      <th class="col-md-2"><%= order.order_price %></th>
      <th class="col-md-2">
        <%= form_for order, url: order_path(order.id) do |f| %>
          <%= f.hidden_field :status, value: "approved" %>
          <%= f.hidden_field :approved_by_admin_id, value: current_user.id %>
          <%= f.submit "Approved", class: "btn btn-primary" %>
        <% end %>
      </th>
      <th class="col-md-2">
        <%= link_to "X", order, method: :delete,
                                data: { confirm: "Are u sure?" } %>
      </th>
    </tr>
  </table>
  <% end %>
<% else %>
  <p>Don't have any order</p>
<% end %>
